{% extends 'penciltruckadmin/base.html' %}
 {% block page_title %}
      <li class="nav-item">
        <a class="nav-link " href="{%url 'admindashboard'%}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="{%url 'admingallery'%}">
          <i class="bi bi-images"></i><span>Gallery</span>
        </a>
      </li>
{% endblock %}
{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

       

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% endblock %}